.main {
  box-sizing: border-box;
  border: 1px solid skyblue;
  background-color:whitesmoke;
  width: 100px;
  height: 250px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center; 
  
}

#root {
  display: flex;
  gap: 10px;
}